<h1>New planet</h1>
<ul>

<%= simple_form_for [:owner, @planet] do |f| %>
   <%= f.input :name, label: 'le nom de la planete' %>
  <%= f.input :price, hint: "price should be in Palpacoin" %>
  <%= f.input :rotation_period %>
  <%= f.input :diameter %>
  <%= f.input :climate %>
  <%= f.input :gravity %>
  <%= f.input :terrain %>
  <%= f.input :surface_water %>
  <%= f.input :population %>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>

<button><%= link_to "retour", owner_bookings_path %></button>
</ul>
