<div class="container-new">
<h1 class='text-center title-new'>New planet</h1>

<div class="container-new-planet">

<%= simple_form_for [:owner, @planet], class: "form-center" do |f| %>
  <%= f.input :name, label: 'Nom', placeholder: 'Nom de la planète' %>
  <%= f.input :price, label: 'Tarif de location journalier', placeholder: "En Palpacoins" %>
  <%= f.input :rotation_period, label: 'Période de rotation', placeholder: 'En jours' %>
  <%= f.input :diameter, label: 'Diamètre', placeholder: 'En mètre' %>
  <%= f.input :climate, label: 'Climat', placeholder: 'Tropical, tempéré, océanique ...' %>
  <%= f.input :gravity, label: 'Gravité', placeholder: 'En "g" '%>
  <%= f.input :terrain, label: 'Terrain', placeholder: 'Glaciers, montagnes, déserts ...' %>
  <%= f.input :surface_water, label: 'Surface en eau', placeholder: "En %" %>
  <%= f.input :population, label: 'Population', placeholder: "Nombre d'habitants" %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn-create-planet" %>
<% end %>

<%= link_to "retour", owner_bookings_path, class: 'btn btn-primary mt-5 mb-5' %>


</div>
</div>
