
<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to "/", class: "navbar-brand ml-2" do %>
    <%= image_tag "logo2.png" %>
    <span class="jedi-star ml-4 p">SpaceToBe</span>

    <% end %>

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div>
    <%= link_to "/planets", class: "all-planets" do %>
      <span>Toutes nos planètes</span>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-2 mx-3">
      <% if user_signed_in? %>
        <li class="nav-item active mx-3">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/melitapis", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mes Réservations", bookings_path, class: "dropdown-item" %>
            <%= link_to "Mon Dashboard", owner_bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <div class="user-name ml-3 mt-3">
          <p class="user">Bienvenue, <br><%= current_user.email %></p>
        </div>
      <% else %>
        <%= link_to "Devenez Hôte", owner_bookings_path, class: "btn-hote"%>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
