<h1>Modifier une planete </h1>
<ul>

<%= simple_form_for(@planet) do |f| %>
   <%= f.input :name, label: 'le nom de la planete' %>
  <%= f.input :price, hint: "price should be in Palpacoin" %>
  <%= f.input :rotation_period %>
  <%= f.input :diameter %>
  <%= f.input :climate %>
  <%= f.input :gravity %>
  <%= f.input :terrain %>
  <%= f.input :surface_water %>
  <%= f.input :population %>
//suppression de vehicules

  <%= f.submit :submit %>

<% end %>

<button><%= link_to "retour", planets_path %></button>
// les links seront a modifer par la suite au user
</ul>
