
<div class="container" id="background-img">
<div class="card p-3">
  <h1 class='text-center'>Aujourd'hui on va direction ...</h1>

  <div class='d-flex'>
    <%= form_tag planets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control input-group",
      placeholder: "Find a planet"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
  <div class ="cards container py-5"  id= "color-planet-link">
    <%@planets.each do |planet| %>
      <div class= "cards-trip" style="background-image: url('<%= cl_image_path planet.photo.key, height: 300, crop: :fill %>')">
      <p><%= link_to planet.name, planet_path(planet) %></p>
      </div>
    <% end %>
    </div>
  </div>
  </div>
   </div>
    </div>
