
<div id="background-img">
<div class="card-index p-3" >
  <h1 class='text-center mt-3'>Aujourd'hui on va direction ...</h1>

  <div class="search-container-index">
    <%= form_tag planets_path, method: :get do %>
      <div class="d-flex justify-content-center my-3">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-index input-group",
          placeholder: "Trouver une planète"
        %>
        <%= submit_tag "Search", class: "btn btn-dark search-btn-index ml-3" %>
      </div>
    <% end %>
  </div>
  </div>

  <%
=begin%>
 <%= simple_form_for :planet_filters, method: :get do |f| %>
    <%= f.input :climate, label: 'Climat', collection: @climate_array  %>
    0 <%= f.input :max_price, label: 'Prix max', as: :range %> 100
    <%= f.submit 'Filtrer', class: "btn btn-primary" %>
  <% end %>
<%
=end%>

  <div class ="cards container py-5"  id= "color-planet-link">
    <% @planets.each do |planet| %>
      <div class= "cards-trip" style="background-image: url('<%= cl_image_path planet.photo.key, height: 300, crop: :fill %>')">
      <p><%= link_to planet.name, planet_path(planet) %></p>
      </div>
    <% end %>
    </div>
  </div>
  </div>
   </div>
    </div>
