<h2><%= @planet.name %></h2>
<p><%= @planet.price %></p>
<p><%= @planet.rotation_period %></p>
<p><%= @planet.diameter %></p>
<p><%= @planet.climate %></p>
<p><%= @planet.gravity %></p>
<p><%= @planet.terrain %></p>
<p><%= @planet.surface_water %></p>
<p><%= @planet.population %></p>

<button><%= link_to "retour", planets_path %></button>
